<h1>
  {{title}}
</h1>
<h2>Abrir la consola del navegador</h2>
<h2>Ejemplo de enlace de propiedades (Property Binding)</h2>
<img src="{{imagenUrl}}" alt="Imagen de ejemplo" />
<h2>Ejemplo de enlace con clases CSS</h2>
<button class="btn btn-primary">Enviar</button>
<h2>Ejemplo de enlace condicional con clases CSS</h2>
<button class="btn btn-primary" [class.active]="activo">Enviar condicional</button>
<h2>Ejemplo de enlace con estilos CSS</h2>
<button class="btn btn-primary" [style.backgroundColor]="activo ? 'blue':'gray'">Enviar estilos</button>
<h2>Ejemplo de uso de eventos</h2>
<button class="btn btn-primary" (click)="onClick($event)">Ver consola</button>
<h2>Ejemplo de uso de eventos. Sintaxis alternativa</h2>
<button class="btn btn-primary" (click)="onClick($event)">Ver consola</button>
<h2>Ejemplo de enlace de propiedades bidireccional (Two-way Binding)</h2>
<input type="text" [(ngModel)]="title" /> Has escrito: {{title}}